{% extends 'base.html' %}

{% block title %} Post detail {% endblock title %}

{% block body %}

    {% if request.user.id == post.user.id %}
        <a style="btn btn-info" href="{% url 'post:post_update' post.id %}">Update</a>
        <a style="btn btn-danger" href="{% url 'post:post_delete' post.id %}">Delete</a>
    {% endif %}
    <a href="{% url 'account:user_profile' post.user.id %}">{{ post.user.username }}</a> <hr>
    {{ post.title }}<hr>
    {{ post.body }}<hr>
    {{ post.created }}<hr>




{% endblock body %}