{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block body %}

    <form action="" method="get">
        {{ form.as_p }}
        <input type="submit" value="Search">
    </form><br/><br/>

    {% for post in posts %}

        <a href="{% url 'account:user_profile' post.user.id %}"><h1> user : {{ post.user }} </h1></a>
        <a href="{% url 'post:post_detail' post.id post.slug %}"><h2> body : {{ post.body }} </h2> </a>
        <h3> date : {{ post.created_date | truncatewords:8 }} </h3>

    {% endfor %}



{% endblock body %}