<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home:home' %}">Home</a>
        <a class="navbar-brand" aria-current="page" href="{% url 'todo:create_todo' %}">Create Todo</a>
        <a class="navbar-brand" href="{% url 'account:user_register' %}">Register</a>
        <a class="navbar-brand" href="{% url 'account:user_login' %}">Login</a>
        <a class="navbar-brand" aria-disabled="true" href="{% url 'account:user_logout' %}">Logout</a>
      </div>
</nav>