{% extends 'base.html' %}


{% block title %} User Profile {% endblock title %}

{% block body %}

    {% if request.user.id != user.id and not is_following %}
        <a class="btn btn-primary" href="{% url 'account:user_follow' user.id %}">Follow</a>
    {% elif request.user.id != user.id and is_following %}
        <a class="btn btn-primary" href="{% url 'account:user_unfollow' user.id %}">Unfollow</a>
    {% endif %}

    <h1>{{ user.username }}</h1>

    {% for post in posts %}
        <a href="{{ post.get_absolute_url }}">{{ post.body }}</a>
    {% endfor %}

{% endblock body %}